.navbar {
	padding: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/* position: fixed; */
	/* top: 5%%; */
	width: 100%;
	text-decoration: none;
}

#movie-nav {
	border-right: 1px solid #bbb;
	width: 50%;
	text-decoration: none;
}

#series-nav {
	border-right: 1px solid #bbb;
	width: 50%;
	text-decoration: none;
}

#series-nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#movie-nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#movie-nav a:hover {
	background-color: #111;
	color: white;
	text-decoration: none;
}

#series-nav a:hover {
	background-color: #111;
	color: white;
	text-decoration: none;
}

.active {
	background-color: #4caf50;
}

form.search input[type="text"] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 95%;
	background: #f1f1f1;
	/* position: fixed;
	top: 0%; */
}

form.search button {
	width: 5%;
	padding: 10px;
	background: #111518;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	/* position: fixed;
	top: 0%; */
}

.myDiv {
	display: flex;
	flex-direction: column;
}

.filter-sort-dropbtn {
	background-color: rgb(111, 116, 111);
	color: white;
	padding: 18px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.filter-sort-dropbtn:hover,
.filter-sort-dropbtn:focus {
	background-color: #444744;
}

/* #language-filter,
#genre-filter {
	margin-left: 15%;
	width: 10%;
} */

/* .filter {
	position: absolute;
	color: #ebf7ec;
	background-color: #555252;
	min-width: 130px;
	border: 1px solid #ddd;
	z-index: 1;
	padding-left: 5px;
	padding-top: 2px;
	text-decoration: none;
} */

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}
